@model TicketPeru.Models.ChangePasswordViewModel

<section class="recentOfferSection">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="recentOfferContent bg-ash" style="background-color: #fff;">
                    <div class="row">
                        <!-- Benifits Aria -->
                        <div class="col-xs-12 col-sm-12">
                            <div class="benefitsAria">
                                <h4 style="font-size: 18px; font-weight: 600;">Editar Información Personal</h4>
                                <p class="text-success">@ViewBag.StatusMessage</p>
                                <div class="benifitsContent" style="border-radius: 0px; background-color: #f7f7f7;">
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label", @style = "font-weight: 600;color: #7a7a7a;" })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label", @style = "font-weight: 600;color: #7a7a7a;" })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label", @style = "font-weight: 600;color: #7a7a7a;" })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="submit" class="btn buttonTransparent"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                                                <a href="@Url.Action("Index", "Manage")" class="btn buttonTransparent"><i class="fa fa-arrow-left"></i>&nbsp;Regresar</a>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>